{% extends 'base.twig' %}
{% block title %}虚拟宠物医院学习系统 - 导航页{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/frontend/css/navi.css">
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/frontend/js/index.js"></script>
{% endblock %}

{% block content %}
<div class="navibar">
  <span class='navi-text'>您好，系统管理员，欢迎登陆本系统</span>
</div>
<div class='select-bar'>
  <span>请选择你需要的功能:</span>
</div>
<div class='options-area'>
  <div class='options' id='3d-navi' onclick="window.location.href ='/3d'">
      <p>3D导览</p>
      <br />
      <div class="image-wrapper">
          <img src='/frontend/img/3d.png'>
      </div>
  </div>
  <div class='options' id='character' onclick="window.location.href ='/catalog'">
      <p>职能学习</p>
      <br />
      <div class="image-wrapper">
          <img src='/frontend/img/xuexi.png'>
      </div>
  </div>
  {% if admin() %}
  <div class='options' id='history' onclick="window.location.href ='/admin'">
      <p>病历管理</p>
      <br />
      <div class="image-wrapper">
          <img src='/frontend/img/bingli.png'>
      </div>
  </div>
  {% endif %}
</div>
{% endblock %}
