{% extends 'base.twig' %}
{% block title %}虚拟宠物医院学习系统 {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/frontend/css/index.css">
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/frontend/js/index.js"></script>
{% endblock %}
{% block content %}
<div id='box'>
<div id='header'>
  <span class='header-text'>虚拟宠物医院学习软件</span>
</div>
<div id="message">
{% include 'inc/flash_messages.twig' %}
</div>
<div id='login-box'>
  <form id="form" method="post" action="/login">
      <div class='loginbox'>
        <input class='login-input' id='username' type="text" maxlength=8 name="username" placeholder="请输入用户名"{% if username is not empty %} value="{{username}}{% endif %}">
      </div>
      <div class='loginbox'>
        <input class='login-input' id='password' type="password" maxlength=16 name="password" placeholder="请输入密码">
      </div>
      <!-- <div class='loginbox'>
        <input class='captcha-input' id='captcha' type='text' maxlength=4 name='password' placeholder="请输入验证码">
      </div> -->
      <div role="button" class="login-button" onclick="login()">
        <span class='login-text'>登录</span>
      </div>
  </form>
</div><!-- login-box -->
</div>
{% endblock %}
