.tab-content {
    padding: 7px;
    margin-top: 30px;
}

.outline {
    outline: 3px solid #2c3e50;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

table a:not(.btn), .table a:not(.btn):hover {
    text-decoration: underline;
}

.picture-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.picture-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
