{% block nav %}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">Virtual Vet Clinic</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/3d">3D Navigation</a></li>
                <li><a href="/catalog">Catalog</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="/catalog/search" method="get">
              <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Search" required>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if not authenticated() %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/registration">Registration</a></li>
                {% else %}
                    {% if admin() %}
                    <li><a href="/admin">
                        <span class="glyphicon glyphicon-wrench"></span>
                        Back to Dashboard
                    </a></li>
                    {% endif %}
                    <li><a href="/account">My Account</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
